<div class="d-flex">
  <div class="bg-light p-3" style="width:200px; min-height:100vh;">
    <h5>Sidebar</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/users">Users</a>
      </li>
    </ul>
  </div>
  <div class="flex-grow-1">
    <!-- Main content starts here -->
  </div>
</div> 